*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
   font-size: 1rem;
   font-family: 'Girassol', cursive, 'Arial Narrow', Arial, sans-serif;
}

header {
   text-align: center;
   border-bottom: 2px solid blue;
}

h1 {
   font-size: 3rem;
}

.library-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1000px;
   margin-top: 1em;
   margin-left: auto;
   margin-right: auto;
   
}

table {
   width: 100%;
   border-collapse: collapse;
}

th {
   padding: 10px 10px;
   font-size: 1.2rem;
}

tbody tr {
   text-align: center;
}

td {
   border-top: 1px solid gray;
   padding: 10px;
}

button {
   font-family: 'Girassol', cursive, 'Arial Narrow', Arial, sans-serif;
   font-size: 1rem;
}

.new {
   border: none;
}
